@page
@model VUMC_Phecode_Search_App.Pages.phecode_infos.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.phecode_info[0].phecode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.phecode_info[0].phecode_string)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.phecode_info) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.phecode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.phecode_string)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
